<a href="https://colab.research.google.com/github/odus05/Feature-Engineering/blob/master/feature_tools(nhl_game).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

이 기법은 항목 당 예측이 필요한 레코드가 많을 때 가장 효과적이라는 것을 알았습니다. 예를 들어 고객 이탈 여부를 예측하는 경우 입력은 각 고객에 대한 세션 이벤트 모음 일 수 있습니다. 사용자 당 하나의 레코드 만있는 경우 심층적 인 기능 합성은 그다지 효과적이지 않습니다. 이 접근 방식의 작동 방식을 보여주기 위해 Kaggle에서 사용할 수있는 NHL 데이터 세트를 사용하겠습니다. 이 데이터 세트에는 게임 테이블과 각 게임을 자세히 설명하는 플레이 테이블이 포함됩니다. 내가 구축하고있는 예측 모델의 목표는 게임 중 플레이 한 내용을 기반으로 플레이 오프 경기를하는 게임을 식별하는 것입니다.

In [0]:
import pandas as pd
import framequery as fq
import featuretools as ft
from featuretools import Feature
import hashlib
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [5]:
from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [16]:
data_path = '/content/gdrive/My Drive/Colab Notebooks/datasets/nhl-game-data'
game_df = pd.read_csv(data_path+'/game.csv')
game_df.head()

      game_id    season  ... venue_time_zone_offset venue_time_zone_tz
0  2011030221  20112012  ...                     -4                EDT
1  2011030222  20112012  ...                     -4                EDT
2  2011030223  20112012  ...                     -4                EDT
3  2011030224  20112012  ...                     -4                EDT
4  2011030225  20112012  ...                     -4                EDT

[5 rows x 16 columns]

In [10]:
plays_df = pd.read_csv(data_path+'/game_plays.csv')

# select a 10% sample of the games
plays_df = fq.execute("""select * from plays_df where game_id % 10 = 1""")

# drop some of the string type fields
plays_df = plays_df.drop(['secondaryType', 'periodType', 'dateTime', 'rink_side'], axis=1).fillna(0)

# convert the remaining strings to integer types via hashing
plays_df['event'] = plays_df['event'].apply(hash)
plays_df['description'] = plays_df['description'].apply(hash)

plays_df.head()

        play_id     game_id  play_num  ...          description  st_x  st_y
0  2011030221_1  2011030221         1  ... -2407464621570790325   0.0   0.0
1  2011030221_2  2011030221         2  ... -7174183026224657535   0.0   0.0
2  2011030221_3  2011030221         3  ...   310488541993309401   0.0   0.0
3  2011030221_4  2011030221         4  ...  4700343031429769938   0.0   0.0
4  2011030221_5  2011030221         5  ...  3038257804652383570 -28.0 -24.0

[5 rows x 16 columns]

In [17]:
# create feature encodings for the event and description fields
es = ft.EntitySet(id='plays')
es = es.entity_from_dataframe(entity_id='plays', 
                              dataframe=plays_df, 
                              index='play_id', 
                              variable_types={'event':ft.variable_types.Categorical, "description": ft.variable_types.Categorical})

f1 = Feature(es['plays']['event'])
f2 = Feature(es['plays']['description'])

encoded, _ = ft.encode_features(plays_df, [f1,f2], top_n=10)
encoded.reset_index(inplace=True)

# create an entry set of the encoded play data and games
es = ft.EntitySet(id='plays')
es = es.entity_from_dataframe(entity_id='plays', dataframe=encoded, index='play_id')
es = es.normalize_entity(base_entity_id='plays', new_entity_id='games', index='game_id')

es

Entityset: plays
  Entities:
    plays [Rows: 383621, Columns: 37]
    games [Rows: 1178, Columns: 1]
  Relationships:
    plays.game_id -> games.game_id

In [20]:
features, defs = ft.dfs(entityset=es, target_entity='games', max_depth=2)
features.reset_index(inplace=True)
features.shape

(1178, 212)

In [26]:
features.head()

      game_id  SUM(plays.index)  ...  COUNT(plays)  label
0  2010020001        1097336604  ...           312      0
1  2010020011        1005644016  ...           333      0
2  2010020021         925290853  ...           326      0
3  2010020031         908394053  ...           293      0
4  2010020041        1201182812  ...           344      0

[5 rows x 213 columns]

In [22]:
# assign labels to the generated features
features = fq.execute("""select f.*, 
                         case when g.type='P' then 1 else 0 end as label
                         from features f
                         join game_df g
                         on f.game_id = g.game_id""")
# count the labels
fq.execute("""select label, sum(1) as plays 
              from features
              group by label""")

   label  plays
0      0   1044
1      1    134

In [25]:
y = features['label']
X = features.drop(['label', 'game_id'], axis=1).fillna(0)

lr = LogisticRegression()
model = lr.fit(X, y)
print('accuracy_score: ', model.score(X, y))
print('roc_auc_score: ', roc_auc_score(y, model.predict_proba(X)[:, 1]))

accuracy_score:  0.9592529711375212
roc_auc_score:  0.9190327100131527

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)